html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#particles-js {
    background: radial-gradient(circle, rgba(71,162,254,1) 0%, rgb(0, 61, 142) 50%, rgba(0,0,0,1) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.form-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-content {
    box-shadow: 0 10px 13px -6px rgba(0,0,0,.2),0 21px 33px 3px rgba(0,0,0,.14),0 8px 40px 7px rgba(0,0,0,.12);
    border-radius: 10px;
    position: fixed;
    overflow-y: auto;
    background: white;
    max-height: 100%;
}

.realmTitle {
    font-weight: 900;
    font-size: 3em;
    color: black;
}

.realmTitle:hover {
    color: black;
    text-decoration: none;
}

.input-group-text {
    background-color: inherit !important;
    border: none !important;
}

.input-group {
    width: auto;
}

.input-group-prepend {
    box-shadow: none !important;
    border-radius: 5px 0px 0px 5px;
    border-top: solid 1px #479df5;
    border-left: solid 1px #479df5;
    border-bottom: solid 1px #479df5;
}

.form-control {
    border-color: #479df5 !important;
    border-left: none !important;
    box-shadow: none !important;
}